	<ion-view view-title="Sobre nosotros" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-about_us" class="padding page-about_us">
		
<div class="text-center">
    <img class="avatar relative" ng-src="data/images/header/logo.png" />
    <p>Wlojii v2.1</p>
</div>
<br/>
<div class="list card">
  <a class="item item-icon-left" ng-click="openURL('https://www.facebook.com/lazonadjs')" >
    <i class="positive icon ion-social-facebook"></i>
    Like Us on Facebook
  </a>    
    
  <a class="item item-icon-left" ng-click="openURL('https://plus.google.com/u/0/b/105406312964233722092/+Lazonadjs')" >
    <i class="assertive icon ion-social-googleplus"></i>
    Join us on Google+
  </a> 
  <a class="item item-icon-left" ng-click="openURL('https://twitter.com/lazonadjs')" >
    <i class="calm icon ion-social-twitter"></i>
   Follow me on Twitter
  </a>   
   <a class="item item-icon-left" ng-click="openURL('mailto:lazonadjs@gmail.com')" >
    <i class="icon ion-android-mail royal"></i>
    For Business Cooperation<br/>
    <span>
        Email: lazonadjs@gmail.com
    </span>
  </a>
</div>
<br/>
<div class="text-center">
    <p>&copy; 2018 <a ng-click="openURL('http://lazonadjs.com')" >Asociación de Djs</a><br/>All Rights Reserved</p>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
